# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.git
.gitignore
.cache

*/temp*
**/Dockerfile

node_modules
dist

.env