# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# Logs
/musicify-log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.git
.gitignore
.cache

*/temp*
**/Dockerfile
docker-compose.yml

node_modules
dist

.env
**/*.md